/* Palette URL: http://paletton.com/#uid=33m0I0kddbqoSmfkHhXmVeMvscT */

:root
{
    --color-primary-light: #ffffff;
    --color-primary-mid: #171717;
    --color-primary-dark: #161616;

    /* Secondary Color: */
    --color-secondary-light: #ccbca6;
    --color-secondary-mid: #1d223d;
    --color-secondary-dark: #443135;
}