.exhibit{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    box-shadow: var(--shadow);
    padding: 0;
}

.mini-gallery {
    display: flex;

    padding: 0;

    flex-direction: row;
    flex-wrap: nowrap;
    list-style-type: none;

    margin: 0;

    background-color: var(--color-secondary-dark);
}

.mini-gallery>.gallery-item {
    flex-grow: 1;
    flex: 2 1 0;

    width: 100%;
    min-height: 2vw;

    margin: 1%;
    padding: 0;

    background-color: white;

    text-align: center;
}

.mini-gallery>.arrow {
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    
    color: var(--color-primary-light);

    flex-grow: 1;
    flex: 1 1 0;

    font-size: 5rem;

    width: 100%;

    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.mini-gallery>.arrow:hover {
    color: var(--color-primary-mid);
}

.gallery-item>img {
    width: 100%;
    height: 100%;
    aspect-ratio: 16 / 9;

    margin: 0;
    padding: 0;

    box-shadow: var(--shadow);
}

.gallery-item>img:hover {
    opacity: 0.4;
}

.exhibit>.primary {
    width: auto;
    max-width: 100%;
    position: relative;
    aspect-ratio: 16 / 9;

    margin-bottom: 0;
    padding: 2%;

    background-color: var(--color-secondary-dark);
}

hr {
    width: 100%;
    margin: 2rem 0 0 0;
    padding: 0;
}


@media only screen and (max-device-width: 640px) {
    .mini-gallery>.gallery-item{
        padding: 0;
        margin: 0;
    }
    .mini-gallery {
        padding-bottom: 2%;
    }
    .primary {
        margin: 0;
    }
}